<div class="me">
  <div class="me__switch switch shadow-2">
    <a routerLink="tweets" routerLinkActive="switch__item--active" class="switch__item">
      <div class="switch__item__name">Tweets</div>
      <div class="switch__item__value">{{ tweets }}</div>
    </a>

    <a routerLink="following" routerLinkActive="switch__item--active" class="switch__item">
      <div class="switch__item__name">Following</div>
      <div class="switch__item__value">{{ following }}</div>
    </a>

    <a routerLink="followers" routerLinkActive="switch__item--active" class="switch__item">
      <div class="switch__item__name">Followers</div>
      <div class="switch__item__value">{{ followers }}</div>
    </a>
  </div>

  <div class="me__content">
    <router-outlet></router-outlet>
  </div>
</div>
