<div class="nav">
    <div class="menu">
    <a routerLink="/home" routerLinkActive="menu__link--active" class="menu__link">Home</a>
    <a routerLink="/me" *ngIf="authenticated()" routerLinkActive="menu__link--active" class="menu__link">Me</a>
    <a routerLink="/search" *ngIf="authenticated()" routerLinkActive="menu__link--active" class="menu__link">Find / Search</a>
    </div>

    <div class="" *ngIf="authenticated()">
    <span>{{ user.name }}</span>
    <a routerLink="/logout" routerLinkActive="active" class="menu__link">Logout</a>
    </div>

    <div class="authentication_buttons" *ngIf="!authenticated()">
    <a routerLink="/login" routerLinkActive="active" class="menu__link">Login</a>
    <a routerLink="/signup" routerLinkActive="active" class="menu__link">Signup</a>
    </div>
</div>
