.login {
  max-width: 500px;
  margin: 0 auto;

  &__title {
    margin-bottom: 30px;

    font-size: 1.8em;
    font-weight: 200;
    text-align: center;
  }

  button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 130px;
  }
}
