<div class="search__box">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    <input #searchBox id="search-box" class="form-control" (keyup)="search(searchBox.value)"/>
  </div>
</div>

<div class="search__content">
  <div *ngIf="users.length == 0 && tweets.length == 0 && searchBox.value.length > 0" class="search__no_results">
    <div class="no_results__heading">No results found</div>
    <div class="no_results__description">We've searched more than million records but nothing was found.</div>
  </div>

  <div *ngIf="users.length > 0" class="search__results">
    <users [users]="users"></users>
  </div>

  <div *ngIf="tweets.length > 0" class="search__results">
    <tweets [tweets]="tweets"></tweets>
  </div>
</div>
