<div class="form">
  <div class="form__title">Login</div>

  <div class="form__social">
    <div (click)="loginWithGoogle()" class="btn-social btn-social--google">
      <i class="fa fa-google"></i>
      <span>Log in using Google</span>
    </div>
  </div>

  <div class="form__separator">or</div>

  <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
    <div class="form-group"  [class.has-danger]="formErrors.email.length > 0">
      <label for="email">Email</label>
      <input type="text" id="email"
             class="form-control"
             formControlName="email" >

      <div class="form-control-feedback" *ngFor="let error of formErrors.email" >{{ error }}</div>
    </div>

    <div class="form-group"  [class.has-danger]="formErrors.password.length > 0">
      <label for="password">Password</label>
      <input type="password" id="password" aria-describedby="passwordHelpBlock"
             class="form-control"
             formControlName="password" >

      <div class="form-control-feedback" *ngFor="let error of formErrors.password" >{{ error }}</div>
    </div>

    <button type="submit"  class="btn btn-success"  [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
