@import '../../../../public/scss/main.scss';

.create-tweet {
  @include box-shadow(1);

  display: block;
  padding: 20px 50px 30px 50px;

  background-color: white;

  &:not(last-child) {
    margin-bottom: 20px;
  }

  &__title {
    padding: 0px 0px 25px 0px;

    font-size: 1.8em;
    font-weight: 200;

    text-align: center;
  }

  button {
    display: block;
    margin-left: auto;

    i {
      padding-right: 5px;
    }
  }
}
