<div class="create-tweet">
  <div class="create-tweet__title">
    Create Tweet
  </div>
  <form (ngSubmit)="onSubmit()" #createTweetForm="ngForm">
    <div class="form-group">
      <textarea class="form-control" id="content" rows="4"
             required
             [(ngModel)]="tweet.content" name="content"
             #content="ngModel" >
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!createTweetForm.form.valid">Post</button>
  </form>
</div>
