<div class="tweet">
  <div class="tweet__header">
    <div class="avatar"></div>
    <div class="author">
      <div class="author__name">{{ tweet.author.name }}</div>
      <div class="author__username">@{{ tweet.author.username }}</div>
    </div>
    <button *ngIf="!tweet.author.following && tweet.author.id != loggedUser.id" class="btn btn-success btn-sm btn-follow" (click)=_follow()>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span class="btn-text">follow</span>
    </button>
    <div class="interval">2m</div>
  </div>
  <div class="tweet__content">
    {{ tweet.content }}
  </div>
  <div class="tweet__controllers">
    <button class="btn btn-primary btn-sm" (click)=_toggleLike()>
      <i class="fa fa-thumbs-{{ !tweet.liked ? 'up' : 'down' }}" aria-hidden="true"></i>
      <span class="btn-text">{{ !tweet.liked ? 'like' : 'unlike' }}</span>
    </button>

    <button *ngIf="!tweet.retweeted" class="btn btn-primary btn-sm" (click)=_retweet()>
      <i class="fa fa-retweet" aria-hidden="true"></i>
      <span class="btn-text">retweet</span>
    </button>
  </div>
</div>
