@import '../../../../public/scss/main.scss';

.tweet {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;

  border-bottom: 2px solid $TEXT-DIVIDER-COLOR;

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__content {
    margin: 25px 0px;

    font-size: 1.3em;
  }

  &__controllers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__name {
    font-size: 1.05em;
    font-weight: 700;

    color: $TEXT-PRIMARY-COLOR;
  }

  &__username {
    padding-left: 8px;

    font-size: 0.85em;

    color: $TEXT-SECONDARY-COLOR;
  }
}

.interval {
  margin-left: auto;

  font-weight: 200;
  font-size: 0.95em;

  color: $TEXT-SECONDARY-COLOR;
}

.btn-follow {
  margin-left: 15px;
}

.btn-text {
  margin-left: 2px;
}
