<div class="tweet">
  <div class="tweet__header">
    <div class="avatar"></div>
    <div class="author">
      <div class="author__name">{{ tweet.author.name }}</div>
      <div class="author__username">@{{ tweet.author.username }}</div>
    </div>
    <button
      *ngIf="tweet.author.id != loggedUser.id"
      class="btn btn-{{ !tweet.author.following ? 'success' : 'danger' }} btn-sm btn-follow"
      (click)=_toggleFollow()
    >
      <i class="fa fa-{{ !tweet.author.following ? 'plus' : 'times' }}" aria-hidden="true"></i>
      <span class="btn-text">{{ !tweet.author.following ? 'follow' : 'unfollow' }}</span>
    </button>
    <div class="interval">2m</div>
  </div>
  <div class="tweet__content">
    {{ tweet.content }}
  </div>
  <div class="tweet__controllers">
    <button class="btn btn-primary btn-sm" (click)=_toggleLike()>
      <i class="fa fa-thumbs-{{ !tweet.liked ? 'up' : 'down' }}" aria-hidden="true"></i>
      <span class="btn-text">{{ !tweet.liked ? 'like' : 'unlike' }} ({{ tweet.like_count }})</span>
    </button>

    <button
      *ngIf="tweet.author.id != loggedUser.id"
      class="btn btn-primary btn-sm"
    >
      <i class="fa fa-retweet" aria-hidden="true"></i>
      <span class="btn-text">retweet</span>
    </button>
  </div>
</div>
