<div class="form">
  <div class="form__title">Sign Up</div>

  <form [formGroup]="signupForm"  (ngSubmit)="onSubmit()">
    <div class="form-group"  [class.has-danger]="formErrors.name.length > 0"  [class.has-success]="signupForm.get('name').valid">
      <label for="name">Name</label>
      <input type="text" id="name"
             class="form-control" [class.form-control-success]="signupForm.get('name').valid"
             formControlName="name" >

      <div class="form-control-feedback" *ngFor="let error of formErrors.name" >{{ error }}</div>
    </div>

    <div class="form-group"  [class.has-danger]="formErrors.username.length > 0"  [class.has-success]="signupForm.get('username').valid">
      <label for="username">Username</label>
      <input type="text" id="username"
             class="form-control" [class.form-control-success]="signupForm.get('username').valid"
             formControlName="username" >

      <div class="form-control-feedback" *ngFor="let error of formErrors.username" >{{ error }}</div>
    </div>

    <div class="form-group"  [class.has-danger]="formErrors.email.length > 0"  [class.has-success]="signupForm.get('email').valid">
      <label for="email">Email</label>
      <input type="text" id="email"
             class="form-control" [class.form-control-success]="signupForm.get('email').valid"
             formControlName="email" >

      <div class="form-control-feedback" *ngFor="let error of formErrors.email" >{{ error }}</div>
    </div>

    <div class="form-group"  [class.has-danger]="formErrors.password.length > 0"  [class.has-success]="signupForm.get('password').valid">
      <label for="password">Password</label>
      <input type="password" id="password" aria-describedby="passwordHelpBlock"
             class="form-control" [class.form-control-success]="signupForm.get('password').valid"
             formControlName="password" >

      <div class="form-control-feedback" *ngFor="let error of formErrors.password" >{{ error }}</div>
      <small id="passwordHelpBlock" class="form-text text-muted">
        Your password must be 8-40 characters long.
      </small>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!signupForm.valid">Submit</button>
  </form>
</div>
